<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artform network</title>

    <style>
    body {
        background-image: url('artformnetwork.png');
     // background-color: white;
      text-align: right;
      float:right;
      margin-top: 17%;
      padding: 50px;
      font-size: 100%;
      width: 35%;

    }


     mark {
  background-color: white;
}
    </style>

</head>
<body>

    <h1><mark>
    About Artform Network

    </mark></h1>

    <p ><mark>
Artform Network is end result for the practical component of the thesis paper <br/><i>Curating an ostensive definition of art through data consolidation,<br/> crowdsourcing and data visualization</i><br/> by Ong Zi Feng and supervised by Asst Prof Bernhard Johannes Schmitt.<br/>Nanyang Technological University, 2019-2022.
<br/><br/>
The reason that started this research was because it is difficult to reach consensus on the definition of art. There are many perspectives of art, such as literature regarding the Philosophy of Arts and History of Arts; the discussions of what can be considered as art; and who will determine what should and should not be art. The discord between these perspectives are the dissimilarity of the intensional definition of art, in other words, which rules or perspective should be used to define “what is art?”. 
<br/><br/>
This research is not to advocate or oppose any intensional definition, perspectives or studies of art, but experimenting to bypass these ongoing philosophical, historical and academical discussions of art, and to fill in the gap through building an ostensive definition of art by investigating and adapting methods to create a dynamic art database. Attempting to view art from a statistical standpoint which could also be utilized by the general, non-expert users
About Artform network
<br/><br/>
As of the result of the research, this Artform Network was curated through the data consolidation from art databases and the participation of the public through crowdsourcing. In an attempt to give the public a platform to explore the artforms that are available, and pointing to these artforms as an ostensive definition of art.
   </mark> </p>
    
    <script src="script.js"></script>
</body>
</html>